<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"/>
    <title>shop</title>

</head>
<body>
<div>
    <h1> Admin page </h1>
</div>
<div>
    <div>
        <button onclick="location.href = '/admin/products'"> Перейти к товарам </button>
        <button onclick="location.href = '/admin/purchases'"> Перейти к списку покупок </button>
    </div>
</div>
<br>
<div>
    <button onclick="location.href = '/'"> На главную страницу</button>
</div>
<div>
    <div>
        <button onclick="location.href = '/logout'"> Выйти из системы </button>
    </div>
</div>

</body>
</html>