<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<style>
    .inOutBtm {
        color: white;
        background-color: #7C8A8B;
        border-radius: 5px;
        height: 40px;
        float: right;
    }

    .text {
        font-size: 20px;
        float: right;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .block {
        float: right;

    }

    .leftBlock {
        float: left;
    }

    .rightBlock {
        float: right;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"/>
    <title>shop</title>

</head>
<body>

<div class="block" sec:authorize="isAuthenticated()">
    <div class="leftBlock">
        <label class="text" sec:authentication="name"></label>
    </div>
    <div class="rightBlock">
        <button class="inOutBtm" onclick="location.href = '/logout'"> Выйти</button>
    </div>
</div>
<div>
    <h1> Admin page </h1>
</div>
<div>
    <div>
        <button onclick="location.href = '/admin/products'"> Перейти к товарам </button>
        <button onclick="location.href = '/admin/purchases'"> Перейти к списку покупок </button>
    </div>
</div>
<br>
<div>
    <button onclick="location.href = '/'"> На главную страницу</button>
</div>


</body>
</html>