<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<style>
    .inOutBtm{
        color: white;
        background-color:#7C8A8B;
        border-radius: 5px;
        height: 40px;
        float: right;

    }

</style>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"/>
    <title>Some shop</title>

</head>
<body>

<div>
    <div >
        <button class="inOutBtm" onclick="location.href = '/login'"> Войти </button>
        <button class="inOutBtm" onclick="location.href = '/registration'"> Зарегистрироваться </button>
    </div>
</div>
<br>
<div >
    <div>
        <button onclick="location.href = '/admin'"> Действия администратора </button>
        <button onclick="location.href = '/user'"> Пользовательские действия </button>
    </div>
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>
</body>
</html>