<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"/>
    <title>Some shop</title>

</head>

<style>
    .inOutBtm {
        color: white;
        background-color: #7C8A8B;
        border-radius: 5px;
        height: 40px;
        float: right;
    }

    .text {
        font-size: 20px;
        float: right;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .block {
        float: right;

    }

    .leftBlock {
        float: left;
    }

    .rightBlock {
        float: right;
    }
</style>

<body>

<div>
    <div>
        <div class="block" sec:authorize="isAuthenticated()">
            <div class="leftBlock">
                <label class="text" sec:authentication="name"></label>
            </div>
            <div class="rightBlock">
                <button class="inOutBtm" onclick="location.href = '/logout'"> Выйти</button>
            </div>
        </div>
        <div class="block" sec:authorize="!isAuthenticated()">
            <div class="leftBlock">
                <button class="inOutBtm" onclick="location.href = '/login'"> Войти</button>
            </div>
            <div class="rightBlock">
                <button class="inOutBtm" onclick="location.href = '/registration'"> Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<br>
<div th:if="${param.logout}">
    Вы вышли из системы.
</div>
<div th:if="${param.regOk}">
    Вы успешно зарегистрировались.
</div>
<br>
<div>
    <div sec:authorize="isAuthenticated()">

        <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
            <button onclick="location.href = '/user'"> Пользовательские действия</button>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <button onclick="location.href = '/admin'"> Действия администратора</button>
        </div>
    </div>
</div>


</body>
</html>