<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<style>
    .inOutBtm {
        color: white;
        background-color: #7C8A8B;
        border-radius: 5px;
        height: 40px;
        float: right;
    }

    .text {
        font-size: 20px;
        float: right;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .block {
        float: right;

    }

    .leftBlock {
        float: left;
    }

    .rightBlock {
        float: right;
    }
</style>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"/>
    <title>shop</title>

</head>
<body>

<div class="block" sec:authorize="isAuthenticated()">
    <div class="leftBlock">
        <label class="text" sec:authentication="name"></label>
    </div>
    <div class="rightBlock">
        <button class="inOutBtm" onclick="location.href = '/logout'"> Выйти</button>
    </div>
</div>
<div>
    <h1> Страница покупок </h1>
</div>
<div>
    <table th:width="1000" th:border="2" id="myTable">
        <tr>
            <th><b>ID</b></th>
            <th><b>ID пользователя</b></th>
            <th><b>ID товара</b></th>
            <th><b>Дата покупки</b></th>
            <th><b>Цена покупки</b></th>
            <th><b>Количество единиц товара</b></th>
        </tr>

        <tr th:each="purchase : ${purchases}">
            <td th:text="${purchase.id}"></td>
            <td th:text="${purchase.idUser}"></td>
            <td th:text="${purchase.idProduct}"></td>
            <td th:text="${purchase.date}"></td>
            <td th:text="${purchase.costAll}"></td>
            <td th:text="${purchase.numberAll}"></td>
        </tr>
    </table>
</div>
<br>
<div>
    <button onclick="location.reload()"> Обновить страницу</button>
</div>
<br>
<div>
    <button onclick="location.href = '/admin'"> Назад</button>
</div>
</body>
</html>