<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<style>
    .inOutBtm {
        color: white;
        background-color: #7C8A8B;
        border-radius: 5px;
        height: 40px;
        float: right;
    }

    .text {
        font-size: 20px;
        float: right;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .block {
        float: right;

    }

    .leftBlock {
        float: left;
    }

    .rightBlock {
        float: right;
    }
</style>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"/>
    <title>shop</title>

</head>

<body>

<div class="block" sec:authorize="isAuthenticated()">
    <div class="leftBlock">
        <label class="text" sec:authentication="name"></label>
    </div>
    <div class="rightBlock">
        <button class="inOutBtm" onclick="location.href = '/logout'"> Выйти</button>
    </div>
</div>
<div>
    <h1> Страница покупок и товаров </h1>
</div>
<br>
<b>
    <lable id="info" th:align="center"></lable>
</b>
<br>
<div>
    <table th:width="1000" th:border="2" id="myTable">
        <tr>
            <th><b>Продукт</b></th>
            <th><b>Описание</b></th>
            <th><b>Стоимость</b></th>
            <th><b>Остаток товара на складе</b></th>
            <th><b>Сколько купить?</b></th>
            <th><b></b></th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.cost}"></td>
            <td th:text="${product.number}"></td>
            <td><input id="numProduct" placeholder="количество товара" value="" type="text" pattern="\d"></td>
            <td>
                <button id="btmBuy">Купить товар</button>
            </td>
        </tr>
    </table>
</div>
<br>
<br>


<br>
<div>
    <button onclick="location.reload()"> Обновить страницу</button>
</div>
<br>
<div>
    <button onclick="location.href = '/'"> На главную страницу</button>
</div>
<div>
    <div>
        <button onclick="location.href = '/logout'"> Выйти из системы </button>
    </div>
</div>
</body>



<script>
    var productName, numOf, table = document.getElementById('myTable');
    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].cells[5].children[0].onclick = function () {
            productName = this.parentElement.parentElement.children[0].innerText;
            numOf = this.parentElement.parentElement.children[4].children[0].value;
            buyProductFunction(productName,numOf);
            this.parentElement.parentElement.children[4].children[0].value="";
        }
    }

    function buyProductFunction(productName, num) {
        if(num!==null && num !==""){
            var xhttp = new XMLHttpRequest();
            xhttp.open("PUT", "/user/products?" + "name=" + productName + "&numOf=" + num, true);
            xhttp.send();
            xhttp.onreadystatechange = function () {
                if (this.status === 200) {
                    document.getElementById("info").innerText = "Товар куплен";
                    location.reload();
                } else {
                    document.getElementById("info").innerText = "Недостаточно товара";
                }
            };
        }else {
            document.getElementById("info").innerText = "Введите количество товара которое хотите купить";
        }

    }


</script>
</html>